/* Write your CSS here! */
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
     
     border:yellowgreen; 
     border-style: dotted;
     width: 400px;
     height: 400px;
     
  }
  .image{
     flex-basis : 75%;
    }
  
  .text {
    font-size: 17px;
    padding-left: 20px;
    font-family: sans-serif ;
  }